{
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "browser": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": [
              "last 2 versions"
            ]
          },
          "modules": false
        }]
      ]
    },
    "legacy": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": [
              "last 5 versions",
              "ie >= 11"
            ]
          },
          "modules": false
        }]
      ],
      "plugins": [
        "transform-object-assign"
      ]
    },
    "node": {
      "presets": [
        ["env", {
          "targets": {
            "node": "4.7"
          },
          "modules": false
        }]
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "4.7",
            "browsers": [
              "last 5 versions",
              "ie >= 11"
            ]
          }
        }]
      ],
      "plugins": [
        "transform-object-assign",
        "rewire"
      ],
      "sourceMaps": "inline"
    }
  }
}
