{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-runtime",
    "transform-flow-strip-types"
  ],
  "env": {
    "test": {
      "sourceMaps": "inline",
      "plugins": ["babel-plugin-rewire"]
    }
  }
}
