dist: trusty
cache:
  directories:
    - "node_modules"
    - "~/.npm"
language: node_js
node_js:
  - "8"
  - "6"
script: npm run test:ci
after_success:
  - curl -Lo travis_after_all.py https://raw.githubusercontent.com/contentful/travis_after_all/master/travis_after_all.py
  - python travis_after_all.py
  - codecov
  - ./node_modules/.bin/travis-deploy-once "npm run semantic-release"
addons:
  sauce_connect: true
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"
