// Syntax highlighting
.hljs-attr {
  color: #8091a5;
}

.hljs-string {
  color: #16c98d;
}

.hljs-literal {
  color: #e0534e;
}

.hljs-number {
  color: #5b9fef;
}

.hljs-comment {
  color: #a9b9c0;
}

.hljs-keyword,
.hljs-built_in { 
  color: #4a90e2;
  font-weight: bold;
}
