version: 2.1

orbs:
  vault: contentful/vault@1

jobs:
  lint:
    docker:
      - image: cimg/node:16.13.2-browsers

    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: npm ci
      - run: npm run lint
      - run: npm run prettier:check
      - run: npm run build
      - run: npm run test:size
      - run: npm run test:types

  unit:
    docker:
      - image: cimg/node:16.11
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: npm ci
      - run: npm run test:unit

  integration:
    docker:
      - image: cimg/node:16.11
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: npm ci
      - run: npm run test:integration

  release:
    docker:
      - image: cimg/node:16.11
    steps:
      - checkout
      - vault/get-secrets:
          template-preset: 'semantic-release-ecosystem'
      - run: npm ci
      - run: npm run build
      - run: npm run semantic-release

workflows:
  version: 2
  build_and_test:
    jobs:
      - lint
      - unit
      - integration
      - release:
          context: vault
          requires:
            - unit
            - integration
