version: 2.1
jobs:
  unit:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: npm install
      - run: npm run build
      - run: npm run test:cover
  integration:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: npm install
      - run: npm run build
      - run: npm run test:integration
  release:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: npm install
      - run: npm run build
      - run: npm run semantic-release
workflows:
  version: 2
  build_and_test:
    jobs:
      - unit:
          filters:
            branches:
              ignore: gh-pages
      - integration:
          filters:
            branches:
              ignore: gh-pages
      - release:
          context: dev-workflows-release
          requires:
            - unit
            - integration
          filters:
            branches:
              ignore: gh-pages
