name: Build

permissions:
  contents: read

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'npm'

      - name: Install latest npm
        run: npm install -g npm@latest

      - name: Install dependencies
        run: npm ci

      # required for browser output-integration tests
      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v2
        with:
          install-chromedriver: true

      - name: Build
        run: npm run build
        env:
          # required for browser output-integration tests
          PUPPETEER_EXECUTABLE_PATH: /usr/bin/google-chrome

      - name: Save Build folders
        uses: actions/cache/save@v4
        with:
          path: |
            dist
          key: build-cache-${{ github.run_id }}-${{ github.run_attempt }}
